.image-with-icon-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-with-icon-fallback svg {
    color: #40D6E3;
}

.image-with-icon-fallback svg path {
    color: #40D6E3;
}

.image-with-icon-fallback-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
